/* Mobile-first styles (applied to all screen sizes by default) */

/* Tablet and larger screen styles */
@media (min-width: 768px) {
}

/* Desktop and larger screen styles */
@media (min-width: 1024px) {
}

/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }

    /* Animation Styles */
/* Noticeable animation using the animation property */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply animation to elements as needed */
main {
  animation: fadeIn 1s ease;
}
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: pink;
    color: #333;
    padding: 20px;
  }

/* Header styles */  
  header {
    background-color: plum;
    color: black;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
/* NAV styles */ 
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color:#333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #333;
  }

/* NAV styles */ 
  #list {
    padding-right: 1rem;
}
/* Main styles */   
  main {
    margin-top: 20px;
  }

/* Images styles */   
  .img1 {
    width: 15rem;
    float: left;
    padding-right: 1rem;
  }

  #img2 {
    width: 20rem;
  }

  #img3 {
    width: 21rem;
  }
  
  #img4 {
    width: 20rem;
  }

/* DIVs styles */ 

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
}

.mw1, .mw2, .mw3, .mw4 {
  width: 100%;
  height: 35rem;
  padding: 10px;
}

fieldset {
  width: 5rem;
  float: left;
}

/* Float the iframe to the right */
iframe {
  float: right;
}

/* Footer styles */ 
  footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.8em;
    color: purple;
  }